{% extends "main/index.html" %} {% load crispy_forms_tags %} {% block start %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>



<script>

var lineA = {
    type: 'line',
    data: {
      datasets: [{
        data: {{ dataLineChart1|safe }},
        backgroundColor: [
          '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
        ],
        label: 'Total Amount Sold'
      }],
      labels: {{ labelLineChart1|safe }}
    },
    options: {
      responsive: true
    }
  };
  
  var SellOrderGraph = {
    type: 'line',
    data: {
      datasets: [{
        data: {{ labelLineChart2|safe }},
        backgroundColor: [
          '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
        ],
        label: 'Sell Orders'
      }],
      labels: {{ dataLineChart2|safe }}
    },
    options: {
      responsive: true
      
    }
  };

  var BuyOrderGraph = {
    type: 'line',
    data: {
      datasets: [{
        data: {{ labelLineChart3|safe }},
        backgroundColor: [
          '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
        ],
        label: 'Buy Orders'
      }],
      labels: {{ dataLineChart3|safe }}
    },
    options: {
      responsive: true
      
    }
  };

  window.onload = function() {
    var ctx = document.getElementById('line-chart1').getContext('2d');
    window.myPie = new Chart(ctx, lineA);

    var ctx = document.getElementById('SellOrderGraph').getContext('2d');
    window.myPie = new Chart(ctx, SellOrderGraph);

    var ctx = document.getElementById('BuyOrderGraph').getContext('2d');
    window.myPie = new Chart(ctx, BuyOrderGraph);
  };
</script>













{% if user.is_authenticated %} {% if submitted %}
<div class="row">
  <div class = "col-md-3">
    <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Last 15 Days</th>
            <th scope="col">Median Price</th>
            <th scope="col">Amount Sold</th>
            <th scope="col">Price Change</th>
          </tr>
        </thead>
        <tr>
          {% for name, value, sold, positive, neutral, test in item %}
            {% if positive %}
              <tr class="success">
                <th scope="row">{{name}}</th>
                <th scope="row">{{value}}</th>
                <th scope="row">{{sold}}</th>
                <th scope="row">{{test}}</th>
              </tr>
            {%else%}
              {% if neutral %}
                <tr class="info">
                  <th scope="row">{{name}}</th>
                  <th scope="row">{{value}}</th>
                  <th scope="row">{{sold}}</th>
                  <th scope="row">{{test}}</th>
                </tr>
              {% else %}
              <tr class="danger">
                <th scope="row">{{name}}</th>
                <th scope="row">{{value}}</th>
                <th scope="row">{{sold}}</th>
                <th scope="row">{{test}}</th>
              </tr>
              {% endif %}
            {% endif %}
          {% endfor %}
          <tr class = "warning">
            <th scope="row"> </th>
            <th scope="row"></th>
            <th scope="row">Total Change = </th>
            <th scope="row">{{total_change}}</th>
          </tr>
        </tbody>
        
    </table>
    <h1 class="styleheader">Standard Deviation = {{standard_deviation}} </h1>
    <h1 class="styleheader">Sharpe Ratio = {{sharpe_ratio}} </h1>
  </div>
  <div class="col-md-4">
    <div id="container" style="width: 100%;">

      <br> Total Amount Sold </br>
      <canvas id="line-chart1"></canvas>

      <br> Steam Sell Orders </br>
      <canvas id="SellOrderGraph"></canvas>

      <br> Steam Buy Orders </br>
      <canvas id="BuyOrderGraph"></canvas>

    </div>
  </div>
</div>




{%else%}
<div class="content-section col-md-3 col-md-offset-2">
  <form
    method="POST"
    style="border: 1px solid black; margin: 4%; padding: 10%; border-radius: 1%"
  >
    <h1 class="styleheader">Analyse</h1>
    {% csrf_token %}
    <fieldset class="form-group">{{ form|crispy}}</fieldset>
    <center>
      <button
        style="background: black; padding: 2%; font-size: 2rem; color: white"
        class="btn btn-outline-info"
        type="submit"
      >
        <span class="glyphicon glyphicon-check"></span> Search Item
      </button>
    </center>
    <br />
  </form>
</div>

{% endif %} {% else %}
<main>poo</main>
main {% endif %} {% endblock start %}
