{% extends "main/index.html" %} {% load crispy_forms_tags %} {% block start %}
{% if user.is_authenticated %} 


  <div class="row">
    <div class = "col-md-7">
      <table class="table table-sm">
          <thead>
          
          </thead>
          <tr>
              {%for portfolio in p_array %}
              
              <tr class="success">
              <th scope="row">{{portfolio.name}}</th>
              </tr>
              
              <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">Investment Name</th>
                    <th scope="col">Average Purchase Price</th>
                    <th scope="col">Amount Owned</th>
                    <th scope="col">Average Investment Profit</th>
                    
                </tr>
                </thead>
                <tr>
                    {%for investment in portfolio.investments %}
                    
                    <tr class="success">
                    <th scope="row">{{investment.name}}</th>
                    <th scope="row">{{investment.purchase_price}}</th>
                    <th scope="row">{{investment.quantity}}</th>
                    <th scope="row">£{{investment.calculate_profit}}</th>
                    <th scope="row"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{ forloop.counter }}">
                        Sell Investment
                      </button> </th>
                    </tr>
                    <div class="modal" id="myModal{{ forloop.counter }}">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="styleheader"> Sell {{investment.name}}</h1>
                              
                            </div>
                            <div class="modal-body">
                              <!-- Use the specific variable in the modal content -->
                              <form method="POST" >
                                {% csrf_token %}
                          
                                <fieldset class="form-group">
                                  {{ form.quantity|as_crispy_field}}
                                  {{ form.sell_price|as_crispy_field}}
                                  <input type="hidden" name="{{ form.name.name }}" value="{{ investment.name }}">
                                </fieldset>
                                
                                <center>
                                  <button
                                    style="background: black; padding: 2%; font-size: 2rem; color: white"
                                    class="btn btn-outline-info"
                                    type="submit"
                                    name = "sell"
                                  >
                                    <span class="glyphicon glyphicon-check"></span> Confirm Sale
                                  </button>
                                </center>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                    </div>
                {% endfor %}
                </tbody>
                
            </table>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal3">
            Delete Portfolio
            </button>
            <div class = "col-md-9">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Purchase Investment
              </button>
              <div class="modal" id="myModal">
                <div class="modal-dialog">
                  <div class="modal-content">
      
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h1 class="styleheader"> Purchase Investment</h1>
              
                    </div>
      
                    <!-- Modal Body -->
                    <div class="modal-body">
                      <form method="POST">
                        
                        {% csrf_token %}
                        <fieldset class="form-group">
                        
                          {{ form_buy|crispy}}
                       
                        </fieldset>
                        <center>
                          <button
                            style="background: black; padding: 2%; font-size: 2rem; color: white"
                            class="btn btn-outline-info"
                            type="submit"
                            name = "purchase">
                            <span class="glyphicon glyphicon-check"></span> Submit Purchase
                          </button>
                        </center>
                        <br />
                      </form>
                    </div>
      
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <!-- Add additional buttons if needed -->
                    </div>
      
                  </div>
                </div>
              </div>
            <div class="content-section col-md-3 col-md-offset-2">
              
              <div class="modal" id="myModal3">
                <div class="modal-dialog">
                  <div class="modal-content">
      
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h1 class="styleheader"> Delete Portfolio</h1>
              
                    </div>
      
                    <!-- Modal Body -->
                    <div class="modal-body">
                      <form method="POST">
                 
                        {% csrf_token %}
                        <fieldset class="form-group">
                          {{ form_portfolio_delete|crispy}}
                       
                        </fieldset>
                        <center>
                          <button
                            style="background: black; padding: 2%; font-size: 2rem; color: white"
                            class="btn btn-outline-info"
                            type="submit"
                            name = "delete">
                            <span class="glyphicon glyphicon-check"></span> Confirm Deletion
                          </button>
                        </center>
                        <br />
                      </form>
                    </div>
      
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <!-- Add additional buttons if needed -->
                    </div>
      
                  </div>
                </div>
              </div>
      
                
            </div>
            
              {% endfor %}
              
              
          </tbody>
          
      </table>
  </div>



      <div class="col-md-2">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
          Create Portfolio
        </button>
      </div> 
      <div class="content-section col-md-3 col-md-offset-2">
              
        <div class="modal" id="myModal2">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h1 class="styleheader"> Create Portfolio</h1>
        
              </div>

              <!-- Modal Body -->
              <div class="modal-body">
                <form method="POST">
           
                  {% csrf_token %}
                  <fieldset class="form-group">
                    {{ form_portfolio_create|crispy}}
                 
                  </fieldset>
                  <center>
                    <button
                      style="background: black; padding: 2%; font-size: 2rem; color: white"
                      class="btn btn-outline-info"
                      type="submit"
                      name = "purchase">
                      <span class="glyphicon glyphicon-check"></span> Confirm Creation
                    </button>
                  </center>
                  <br />
                </form>
              </div>

              <!-- Modal Footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- Add additional buttons if needed -->
              </div>

            </div>
          </div>
        </div>

          
      </div>

  </div>


  

{%else%}
<main>poo</main>
{% endif %} {% endblock start %}
